.mat-list-base .mat-list-item, .mat-list-base .mat-list-option {
    height: auto;
    margin-top: 1rem
}

.mat-card-header {
    color: cornflowerblue;
    border-radius: inherit;
    padding-top: 5%;
}

.mat-card-content{
    margin-top: 19px;
    padding: 5%;
}

.mat-card{
    background: aliceblue;
    padding: 0;
    border-radius: 5px;
    width: 39%;
}

.mat-card-actions {
    padding: 0 5%;
    margin: 0;
}

.mat-card>.mat-card-actions:last-child {
    margin-bottom: 0;
    padding-bottom: 5%;
}

.imageBox{
    width: min-content;
}

.mat-list-base{
background: #283048;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #859398, #283048);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #859398, #283048); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}